h1 {
 text-transform: uppercase;
}

input {
    margin: 16px;
    padding:8px 240px 8px 8px ;
    size:50;
}

table {
    width:100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    background-color: black;
    color:#ffffff;
    padding:12px 8px;
    
}

td {
    padding:12px 8px;
    border-bottom: grey solid 1px;
}